body {
  padding:50px;
  background-color: beige;
  background-size: cover;
}

.nav {
  text-align: center;
  border: 2px solid black;
}

.nav_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav_item {
  display:inline-block;
}

.nav_item a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.nav_item a:hover {
  background-color: #111;
}

.title {
  max-width: 38em;
  margin-top: 4em;
}

#receipe_web_title {
  font-size: 20px;
}

.receipe_introduction {
  width:50%;
  float:left;
  margin-left: auto;
  margin-top: 1em;
}

#name{
  font-size: 18pt;
  height: 42px;
  width : 90%;
}

#ingredients{
  font-size: 18pt;
  height: 42px;
  width : 90%;
}

#instructions{
  font-size: 18pt;
  height: 42px;
  width : 90%;
}

#buttons {
  width: 90%
}

.display {
  float:right;
  width: 50%;
  margin-top: 1em;
}
  
.receipe_div {
  width: 100%;
  background: #f2f4f6;
  display: flex;
}

.receipe_attributes_list {
  width: 80%;
  list-style-type: none;
  padding: 0;
}
  
.delete-receipe {
  width: 20%;
  margin-left: auto;
  background: #262424;
  color: #ffffff;
}

.button {
  width:30%;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  display: inline-block;
  font-size: 16px;
}