body {
  padding:50px;
  background-color: beige;
  background-size: cover;
}

.nav {
  text-align: center;
  border: 2px solid black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  display:inline-block;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

h1 {
  font-size: 20px;
}

.column {
  padding-top: 20px;
}

.introduction {
  max-width: 38em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6em;
}

.contact {
  max-width: 38em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
}

